<!DOCTYPE html>
<html>

<head>
    <title>Secure Cloud Storage - Login</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<div class="container">

    <h1>🔐 Secure Cloud Storage</h1>

    <h2>Login</h2>

    {% with messages = get_flashed_messages() %}

        {% for message in messages %}

            <p class="message">
                {{ message }}
            </p>

        {% endfor %}

    {% endwith %}

    <form method="POST">

        <label>Username</label>

        <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        Don't have an account?

        <a href="{{ url_for('register') }}">
            Create an account
        </a>
    </p>

</div>

</body>

</html>